@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Share Tech Mono';
  src: url('./assets/ShareTechMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
